# Environment
.env
*.pyc
__pycache__/
*.egg-info/

# Output files
output/
working/
*.mp4
*.wav
*.mp3

# Colab checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier

# Temp & Flow Work in Progress
error.txt
sample-run-output/
src/flow_*
